@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #ec5b13;
  --color-teal-deep: #004d4d;
  --color-sea-foam: #f0f7f4;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221610;

  --color-primary-gold: #B8860B;
  --color-secondary-teal: #004D4D;
  --color-accent-red: #A52A2A;
  --color-bg-light: #FDFBF7;
  --color-bg-dark: #1a1614;

  --font-display: "Public Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}
